<div class="header pb-8 pt-5 pt-lg-8 d-flex justify-content-center align-items-center"
style="background-color: #1c2b4f;">
<h1 class="text-white text-center display-4 m-0">Service Commercial</h1>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Modifier Expédition</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['../../tables']" class="btn btn-sm btn-primary">Annuler</a>
            </div>
          </div>
        </div>
<div class="card-body">
    <form [formGroup]="shipmentForm" (ngSubmit)="onSubmit()">
        <h6 class="heading-small text-muted mb-4">Détails de l'Expédition</h6>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-client">Client</label>
                        <input type="text" id="input-client" class="form-control form-control-alternative"
                            formControlName="client" placeholder="Client">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-poids">Poids</label>
                        <input type="number" id="input-poids" class="form-control form-control-alternative"
                            formControlName="poids" placeholder="Poids (kg)">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-volume">Volume</label>
                        <input type="number" id="input-volume" class="form-control form-control-alternative"
                            formControlName="volume" placeholder="Volume (m³)">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-provenance">Provenance</label>
                        <input type="text" id="input-provenance" class="form-control form-control-alternative"
                            formControlName="provenance" placeholder="Provenance">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-incoterm">Incoterm</label>
                      <select id="input-incoterm" class="form-control form-control-alternative"
                              formControlName="incoterm">
                        <option value="" disabled selected>Choisissez un incoterm</option>
                        <option *ngFor="let incoterm of incotermList" [value]="incoterm">{{ incoterm }}</option>
                      </select>
                    </div>
                  </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-magasin">Magasin Cale</label>
                        <input type="text" id="input-magasin" class="form-control form-control-alternative"
                            formControlName="magasinCale" placeholder="Magasin Cale">
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4" />

        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-bl">Insertion BL</label>
                      <input type="file" id="input-bl" class="form-control form-control-alternative"
                             (change)="onFileChange($event, 'blFile')">
                             <a *ngIf="insertionBlPath" [href]="insertionBlPath" ngbTooltip="Télécharger le fichier BL">
                                <i class="fas fa-solid fa-file-pdf text-primary" style="cursor: pointer;" style="cursor: pointer;"> Fichier BL existant</i>
                              </a>
                              <i *ngIf="!insertionBlPath" class="fas fa-solid fa-file-excel text-muted" placement="top" ngbTooltip="Fichier BL manquant"> Fichier BL manquant</i>
                    </div>
                  </div>                  
                <div class="col-lg-1">
                    <div class="form-group">
                        <label class="form-control-label" for="input-status">Statut</label>
                        <input id="input-status" type="checkbox" class="form-control form-control-alternative"
                            formControlName="confirme">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <label class="form-control-label" for="input-modification">Motif de Modification</label>
                        <input type="text" id="input-modification" class="form-control form-control-alternative"
                            formControlName="motifModification" placeholder="Motif de modification">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-final">BL Final</label>
                      <input type="file" id="input-final" class="form-control form-control-alternative"
                             (change)="onFileChange($event, 'blFinalFile')">
                             <a *ngIf="blFinalPath" [href]="blFinalPath" ngbTooltip="Télécharger le fichier BL Final">
                                <i class="fas fa-solid fa-file-pdf text-primary" style="cursor: pointer;" style="cursor: pointer;"> Fichier BL Final existant</i>
                              </a>
                              <i *ngIf="!blFinalPath" class="fas fa-solid fa-file-excel text-muted" placement="top" ngbTooltip="Fichier BL Final manquant"> Fichier BL Final manquant</i>
                    </div>
                </div>
                              
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-depart">ETD</label>
                        <input type="date" id="input-depart" class="form-control form-control-alternative"
                            formControlName="estimatedDeparture">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-arrivee">ETA</label>
                        <input type="date" id="input-arrivee" class="form-control form-control-alternative"
                            formControlName="estimatedArrival">
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4" />
        <h6 class="heading-small text-muted mb-4">Pièces Jointes de l'Expédition</h6>

        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-collisage">Liste Collisage</label>
                      <input type="file" id="input-collisage" class="form-control form-control-alternative"
                             (change)="onFileChange($event, 'collisageFile')">
                             <a *ngIf="listeCollisagePath" [href]="listeCollisagePath" ngbTooltip="Télécharger le fichier Liste Collisage Path">
                                <i class="fas fa-solid fa-file-pdf text-primary" style="cursor: pointer;" style="cursor: pointer;"> Fichier Liste Collisage Path existant</i>
                              </a>
                              <i *ngIf="!listeCollisagePath" class="fas fa-solid fa-file-excel text-muted" placement="top" ngbTooltip="Fichier Liste Collisage Path manquant"> Fichier Liste Collisage Path manquant</i>
                    </div>
                </div>                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-facture">Facture</label>
                      <input type="file" id="input-facture" class="form-control form-control-alternative"
                             (change)="onFileChange($event, 'factureFile')">
                             <a *ngIf="facturePath" [href]="facturePath" ngbTooltip="Télécharger le fichier facture Path">
                                <i class="fas fa-solid fa-file-pdf text-primary" style="cursor: pointer;" style="cursor: pointer;"> Fichier facture Path existant</i>
                              </a>
                              <i *ngIf="!facturePath" class="fas fa-solid fa-file-excel text-muted" placement="top" ngbTooltip="Fichier facture Path manquant"> Fichier facture Path manquant</i>
                    </div>
                </div>                  
            </div>
        </div>

        <button type="submit" class="btn btn-primary my-4">Mettre à jour</button>
    </form>
</div>
      </div>
    </div>
  </div>
</div>
